.navbar {
  display: flex;
  position: fixed;
  height: 50px;
  padding: 0 20px;
  background: white;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;

  &-center {
    flex:4;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
  }

  &-left {
    display: flex;
    flex:1;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

  &-right {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
}
.placehold {
  height: 50px;
}
