.find_card {
  color: #333;
  width: 100%;
  margin: 10px 0;

  &_author,
  &_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15px;
    padding: 35px 0px;
    font-size: 12px;
  }
  &_author_span {
    padding: 15px;
  }
  &_forward {
    font-size: 16px;
    padding: 0px 25px;
    line-height: 1.5;
    font-weight: 500;
  }
  &_footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left,
    &_right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      span {
        font-size: 22px;
      }
    }
    &_left {
      justify-content: start;
      width: 40%;
      padding: 0 10px;
      box-sizing: border-box;
    }

    &_right {
      flex: 1;
    }
  }
}
