.find_card {
  color: #333;

  &_author,
  &_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15px;
    padding: 35px 0px;
    font-size: 12px;
  }
  &_author_span {
    padding: 15px;
  }
  &_forward {
    font-size: 16px;
    padding: 0px 25px;
    line-height: 1.5;
    font-weight: 500;
  }
}
